<!DOCTYPE html>
<html>
<head>
    <title>Add Doctor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h2>Add Doctor</h2>
<form method="POST">
  Name: <input type="text" name="Name" required><br><br>
  Specialty: <input type="text" name="Specialty" required><br><br>
  Phone: <input type="text" name="Phone" required><br><br>
  Email: <input type="email" name="Email" required><br><br>
  <input type="submit" value="Add Doctor">
</form>
<br>
<a href="/doctors">Back to Doctors</a>
</body>
</html>
